data/test/flows.json
[
    {
        "id": "e93bbc67912b9178",
        "type": "tab",
        "label": "订阅/发布(TEST)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "19f64249bd0b1250",
        "type": "tab",
        "label": "长乐小镇美术馆空调",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e783d53461d94d52",
        "type": "tab",
        "label": "影子设备",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0d352f1d7c785601",
        "type": "tab",
        "label": "订阅发布",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "73824c52c204153b",
        "type": "mqtt-broker",
        "name": "push",
        "broker": "push-access.sdp.101.com",
        "port": "1780",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "acbe893ce0e86722",
        "type": "mqtt-broker",
        "name": "south",
        "broker": "push-access.sdp.101.com",
        "port": "1780",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b5ef31a7a90ee4e8",
        "type": "mqtt-broker",
        "name": "north",
        "broker": "push-access.sdp.101.com",
        "port": "1780",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0f989c13f4e0c1cb",
        "type": "mqtt in",
        "z": "e93bbc67912b9178",
        "name": "mqtt订阅",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "acbe893ce0e86722",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 700,
        "y": 80,
        "wires": [
            [
                "13403285d1db57b7"
            ]
        ]
    },
    {
        "id": "745ba2affb87c4cd",
        "type": "debug",
        "z": "e93bbc67912b9178",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 80,
        "wires": []
    },
    {
        "id": "47f3ed4e61a01a5c",
        "type": "function",
        "z": "e93bbc67912b9178",
        "name": "发布主题",
        "func": "let pubs = global.get(\"pubs\");\n\npubs.forEach(key => {\n    msg.topic = key;\n    node.send(msg);\n})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            [
                "8990876a77a537e8",
                "d5db30b412aaf4ae",
                "a83fbf51e61bce78"
            ]
        ]
    },
    {
        "id": "8990876a77a537e8",
        "type": "mqtt out",
        "z": "e93bbc67912b9178",
        "name": "mqtt发布",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "acbe893ce0e86722",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "f4460e5db856239e",
        "type": "link in",
        "z": "e93bbc67912b9178",
        "name": "mqtt发布",
        "links": [
            "9b3a8e543bd70406",
            "5002cb933f4b4eb5",
            "cb5a80219ea82576",
            "ec2387ce840fafcd"
        ],
        "x": 245,
        "y": 320,
        "wires": [
            [
                "47f3ed4e61a01a5c"
            ]
        ]
    },
    {
        "id": "d5db30b412aaf4ae",
        "type": "debug",
        "z": "e93bbc67912b9178",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 380,
        "wires": []
    },
    {
        "id": "13403285d1db57b7",
        "type": "function",
        "z": "e93bbc67912b9178",
        "name": "时间戳",
        "func": "let date = new Date()\nmsg.payload.hd.tpc = msg.topic;\nmsg.payload.hd.tms=date.valueOf();\nmsg.payload.hd.tm=date.toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 80,
        "wires": [
            [
                "745ba2affb87c4cd"
            ]
        ]
    },
    {
        "id": "a83fbf51e61bce78",
        "type": "debug",
        "z": "e93bbc67912b9178",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "e8735e32a7e83871",
        "type": "inject",
        "z": "e93bbc67912b9178",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 230,
        "y": 80,
        "wires": [
            [
                "80661426c3828403"
            ]
        ]
    },
    {
        "id": "80661426c3828403",
        "type": "change",
        "z": "e93bbc67912b9178",
        "name": "config",
        "rules": [
            {
                "t": "set",
                "p": "subs",
                "pt": "global",
                "to": "[\"cmdgate/central/ESP8266x00c1cd77\"]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "pubs",
                "pt": "global",
                "to": "[\"cmdgate/device/ESP8266x00c1cd77\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "ebd4f89a355ecf99"
            ]
        ]
    },
    {
        "id": "ebd4f89a355ecf99",
        "type": "function",
        "z": "e93bbc67912b9178",
        "name": "订阅主题",
        "func": "node.send({\n        action: \"subscribe\",\n        topic:  global.get(\"subs\")\n})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 80,
        "wires": [
            [
                "0f989c13f4e0c1cb"
            ]
        ]
    },
    {
        "id": "31dde0bb2ef7e794",
        "type": "function",
        "z": "e93bbc67912b9178",
        "name": "订阅主题",
        "func": "node.send({\n        action: \"subscribe\",\n        topic:  [\n            \"0/0/dev/ESP8266x00c1cd77/0/0/+/+\",\n            \"$IOT/devices/#\"\n        ]\n})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "0f989c13f4e0c1cb"
            ]
        ]
    },
    {
        "id": "2385ef2d2225f51b",
        "type": "inject",
        "z": "e93bbc67912b9178",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "31dde0bb2ef7e794"
            ]
        ]
    },
    {
        "id": "83c5a4f3ad7d1a72",
        "type": "function",
        "z": "e93bbc67912b9178",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 620,
        "wires": [
            [
                "c750b28aa4d47f9b"
            ]
        ]
    },
    {
        "id": "4df34f0fbe3ad18a",
        "type": "inject",
        "z": "e93bbc67912b9178",
        "name": "open",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"stp\":0,\"entry\":{\"type\":\"svc\",\"id\":\"set\"}}",
                "vt": "json"
            },
            {
                "p": "payload.pld.raw",
                "v": "[85,254,254,3,1,185,36]",
                "vt": "bin"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "open",
                "v": "0x55 FE FE 03 01 B9 24",
                "vt": "str"
            },
            {
                "p": "close",
                "v": "0x55 FE FE 03 02 F9 25",
                "vt": "str"
            },
            {
                "p": "opendec",
                "v": "85 254 254 03 01 185 36",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "0/0/0/0/dev/ESP8266x00c1cd77/0/0",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "83c5a4f3ad7d1a72"
            ]
        ]
    },
    {
        "id": "c750b28aa4d47f9b",
        "type": "base64",
        "z": "e93bbc67912b9178",
        "name": "",
        "action": "",
        "property": "payload.pld.raw",
        "x": 640,
        "y": 640,
        "wires": [
            [
                "8990876a77a537e8",
                "a83fbf51e61bce78"
            ]
        ]
    },
    {
        "id": "b22cbccfedce6c3d",
        "type": "inject",
        "z": "e93bbc67912b9178",
        "name": "close",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"stp\":0,\"entry\":{\"type\":\"svc\",\"id\":\"set\"}}",
                "vt": "json"
            },
            {
                "p": "payload.pld.raw",
                "v": "[85,254,254,3,2,249,37]",
                "vt": "bin"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "open",
                "v": "0x55 FE FE 03 01 B9 24",
                "vt": "str"
            },
            {
                "p": "close",
                "v": "0x55 FE FE 03 02 F9 25",
                "vt": "str"
            },
            {
                "p": "opendec",
                "v": "85 254 254 03 01 185 36",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "0/0/0/0/dev/ESP8266x00c1cd77/0/0",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "83c5a4f3ad7d1a72"
            ]
        ]
    },
    {
        "id": "1e620d47f60f6f0d",
        "type": "inject",
        "z": "e93bbc67912b9178",
        "name": "search",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"stp\":0,\"entry\":{\"type\":\"svc\",\"id\":\"set\"}}",
                "vt": "json"
            },
            {
                "p": "payload.pld.raw",
                "v": "[85,254,254,1,0,16,68,46]",
                "vt": "bin"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "open",
                "v": "0x55 FE FE 03 01 B9 24",
                "vt": "str"
            },
            {
                "p": "close",
                "v": "0x55 FE FE 03 02 F9 25",
                "vt": "str"
            },
            {
                "p": "opendec",
                "v": "85 254 254 03 01 185 36",
                "vt": "str"
            },
            {
                "p": "search",
                "v": "55 FE FE 01 00 10 44 2E",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "0/0/0/0/dev/ESP8266x00c1cd77/0/0",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "83c5a4f3ad7d1a72"
            ]
        ]
    },
    {
        "id": "c7401bd16324e6c9",
        "type": "inject",
        "z": "e93bbc67912b9178",
        "name": "reboot",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"stp\":0,\"entry\":{\"type\":\"svc\",\"id\":\"reboot\"}}",
                "vt": "json"
            },
            {
                "p": "payload.pld",
                "v": "{\"id\":\"ESP8266x00c1cd77\"}",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "0/0/0/0/dev/ESP8266x00c1cd77/0/0",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "8990876a77a537e8"
            ]
        ]
    },
    {
        "id": "85aa389fc8bf6d32",
        "type": "inject",
        "z": "e93bbc67912b9178",
        "name": "reboot",
        "props": [
            {
                "p": "payload.hd",
                "v": "{\"stp\":0,\"entry\":{\"type\":\"svc\",\"id\":\"reboot\"}}",
                "vt": "json"
            },
            {
                "p": "payload.pld",
                "v": "{\"id\":\"ESP8266x00c20638\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 740,
        "wires": [
            [
                "a2d0e622513cb23a"
            ]
        ]
    },
    {
        "id": "a5d0b173d185afed",
        "type": "inject",
        "z": "e93bbc67912b9178",
        "name": "off",
        "props": [
            {
                "p": "payload.pld.power",
                "v": "off",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 820,
        "wires": [
            [
                "a2d0e622513cb23a"
            ]
        ]
    },
    {
        "id": "a2d0e622513cb23a",
        "type": "function",
        "z": "e93bbc67912b9178",
        "name": "ESP8266x00c20638",
        "func": "msg.payload.hd = msg.payload.hd ||\n{\n    \"stp\": 0,\n    \"entry\": {\n        \"type\": \"svc\",\n        \"id\": \"set\"\n    }\n}\nmsg.topic = \"0/0/0/0/dev/ESP8266x00c20638/0/0\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 760,
        "wires": [
            [
                "8990876a77a537e8"
            ]
        ]
    },
    {
        "id": "ce9a2df578966fd0",
        "type": "inject",
        "z": "e93bbc67912b9178",
        "name": "on",
        "props": [
            {
                "p": "payload.pld.power",
                "v": "on",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 880,
        "wires": [
            [
                "a2d0e622513cb23a"
            ]
        ]
    },
    {
        "id": "e17cc419.56d918",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.cmd",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "7e3ffbfb.277964"
            ]
        ]
    },
    {
        "id": "8e78e857.23e648",
        "type": "switch",
        "z": "19f64249bd0b1250",
        "name": "开关机",
        "property": "payload.pld.power",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 700,
        "wires": [
            [
                "d585282b.0f64a8"
            ],
            [
                "76e8e38a.464d3c"
            ]
        ]
    },
    {
        "id": "d585282b.0f64a8",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "开机",
        "rules": [
            {
                "t": "set",
                "p": "payload.pld.code",
                "pt": "msg",
                "to": "06 00 00 00 01",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "76e8e38a.464d3c",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "关机",
        "rules": [
            {
                "t": "set",
                "p": "payload.pld.code",
                "pt": "msg",
                "to": "06 00 00 00 00",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 569,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "65022b8d.7a60d4",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "制冷",
        "rules": [
            {
                "t": "set",
                "p": "payload.pld.code",
                "pt": "msg",
                "to": "06 00 01 00 01",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "3ef7145a.fcb44c",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "制热",
        "rules": [
            {
                "t": "set",
                "p": "payload.pld.code",
                "pt": "msg",
                "to": "06 00 01 00 02",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "6e791c6b.a9a374",
        "type": "switch",
        "z": "19f64249bd0b1250",
        "name": "制冷热",
        "property": "payload.pld.mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "cool",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "heat",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 540,
        "wires": [
            [
                "65022b8d.7a60d4"
            ],
            [
                "3ef7145a.fcb44c"
            ]
        ]
    },
    {
        "id": "e8894370.263cf",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 700,
        "wires": [
            [
                "6e791c6b.a9a374",
                "3a0d4459.6fe71c",
                "8e78e857.23e648"
            ]
        ]
    },
    {
        "id": "56638f5d.769a7",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "查询",
        "rules": [
            {
                "t": "set",
                "p": "payload.pld.code",
                "pt": "msg",
                "to": "A0 01 00 00 00 00 00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.hd.stp",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "403a3a0e.6a77f4",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "查询",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "e17cc419.56d918"
            ]
        ]
    },
    {
        "id": "3a0d4459.6fe71c",
        "type": "function",
        "z": "19f64249bd0b1250",
        "name": "查询",
        "func": "if (!msg.payload || !msg.payload.pld)\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 820,
        "wires": [
            [
                "56638f5d.769a7"
            ]
        ]
    },
    {
        "id": "ecf98ea.e2e7b7",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "关闭",
        "props": [
            {
                "p": "payload.pld.power",
                "v": "off",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "e17cc419.56d918"
            ]
        ]
    },
    {
        "id": "6ce720b0.dee5a",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "开启",
        "props": [
            {
                "p": "payload.pld.power",
                "v": "on",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "e17cc419.56d918"
            ]
        ]
    },
    {
        "id": "ffa5053b.1b73c8",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "制热",
        "props": [
            {
                "p": "payload.pld.mode",
                "v": "heat",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "e17cc419.56d918"
            ]
        ]
    },
    {
        "id": "7cc863df.97572c",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "制冷",
        "props": [
            {
                "p": "payload.pld.mode",
                "v": "cool",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "e17cc419.56d918"
            ]
        ]
    },
    {
        "id": "7e3ffbfb.277964",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "ESP8266x00c1cd77",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "ESP8266x00c1cd77",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 340,
        "wires": [
            [
                "e8894370.263cf"
            ]
        ]
    },
    {
        "id": "9d33e53f.ebc508",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "制热开机",
        "props": [
            {
                "p": "payload.pld.mode",
                "v": "heat",
                "vt": "str"
            },
            {
                "p": "payload.pld.power",
                "v": "on",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 120,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "8d0c1666.940458",
        "type": "function",
        "z": "19f64249bd0b1250",
        "name": "校验码",
        "func": "let Gree = {\n    Checksum: function(hexs) {\n        hexs=hexs.replace(/ /g, \",\");\n        hexs = hexs.split(\",\");\n        let sum = 0;\n        hexs.forEach(hex => {\n            if(hex.length > 0)\n              sum += parseInt(hex, 16);\n        })\n        sum = sum & 0xFF ^ 0xA5;\n        sum = \"00\" + sum;\n        sum = sum.substring(sum.length - 2);\n        return sum;\n    }\n};\n\nlet code = msg.payload.pld.code;\n\nlet sum = Gree.Checksum(code);\n\nmsg.payload.pld.code = code + \" \" + sum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 260,
        "wires": [
            [
                "346ce031.0dfb3"
            ]
        ]
    },
    {
        "id": "65f48548.7f71bc",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "读取",
        "props": [
            {
                "p": "payload.pld.code",
                "v": "A0 01 00 00 00 00 00",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 980,
        "y": 260,
        "wires": [
            [
                "8d0c1666.940458"
            ]
        ]
    },
    {
        "id": "346ce031.0dfb3",
        "type": "debug",
        "z": "19f64249bd0b1250",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 260,
        "wires": []
    },
    {
        "id": "614b387d.a7d8b8",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "开冷20",
        "props": [
            {
                "p": "payload.pld.code",
                "v": "A1 01 00 10 00 14 00",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 970,
        "y": 340,
        "wires": [
            [
                "8d0c1666.940458"
            ]
        ]
    },
    {
        "id": "efbcea8c.44a658",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "关冷20",
        "props": [
            {
                "p": "payload.pld.code",
                "v": "A1 01 00 00 00 14 00",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 970,
        "y": 400,
        "wires": [
            [
                "8d0c1666.940458"
            ]
        ]
    },
    {
        "id": "6eac9ff2.af9e1",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "加0x",
        "rules": [
            {
                "t": "set",
                "p": "payload.pld.code",
                "pt": "msg",
                "to": "\"0x\" & msg.payload.pld.code",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 960,
        "wires": [
            [
                "d3b3fd01983088d7",
                "ec2387ce840fafcd"
            ]
        ]
    },
    {
        "id": "8a8d3ea797df5b6e",
        "type": "function",
        "z": "19f64249bd0b1250",
        "name": "校验码",
        "func": "let Gree = {\n    Checksum: function(hexs) {\n        hexs=hexs.replace(/ /g, \",\");\n        hexs = hexs.split(\",\");\n        let sum = 0;\n        hexs.forEach(hex => {\n            if(hex.length > 0)\n              sum += parseInt(hex, 16);\n        })\n        sum = sum & 0xFF ^ 0xA5;\n        sum = \"00\" + sum;\n        sum = sum.substring(sum.length - 2);\n        return sum;\n    }\n};\n\nlet code = msg.payload.pld.code;\n\nlet sum = Gree.Checksum(code);\n\nmsg.payload.pld.code = code + \" \" + sum;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 960,
        "wires": [
            [
                "6eac9ff2.af9e1"
            ]
        ]
    },
    {
        "id": "d3b3fd01983088d7",
        "type": "debug",
        "z": "19f64249bd0b1250",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 880,
        "wires": []
    },
    {
        "id": "32b1fe87f55d86b3",
        "type": "function",
        "z": "19f64249bd0b1250",
        "name": "查询",
        "func": "if (!msg.payload || !msg.payload.pld) {\n    msg.payload = msg.payload || {};\n    msg.payload.pld = msg.payload.pld || {};\n    msg.payload.hd.stp = 2;\n    msg.payload.pld.code = \"A0 01 00 00 00 00 00\"\n    \n    return msg;\n}\n    \n\nlet pld = msg.payload.pld;\nlet mode = pld.mode || \"cool\";\nlet temp = pld.temperature || 20;\nlet power = pld.power || \"off\";\nlet fan = pld.fanSpeed || \"auto\";\n\n\nlet bMode = mode == \"cool\" ? 0b00000000 : 0b00100000;\nlet bPower = power == \"on\" ? 0b00010000 : 0b00000000;\nlet bFan =  fan == \"low\" ? 0b001 : \n            fan == \"medium\" ? 0b011 :\n            fan == \"high\" ? 0b101 : 0b000;\n            \nlet D0 = \"00\" + (bMode | bPower | bFan);\nlet D1 = \"00\";\nlet D2 = \"00\" + temp;\nlet D3 = \"00\";\n\nD0 = D0.substr(D0.length - 2);\nD2 = D2.substr(D2.length - 2);\n\nlet code = \"A1 01 00 \" + D0 + \" \" + D1 + \" \" + D2 + \" \" + D3\npld.code = code\n\n\nreturn msg;\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 960,
        "wires": [
            [
                "8a8d3ea797df5b6e"
            ]
        ]
    },
    {
        "id": "5b53c4356c4bfa68",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "查询",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 860,
        "wires": [
            [
                "f3e0b9d2faca958b"
            ]
        ]
    },
    {
        "id": "f3e0b9d2faca958b",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "cmd=3",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.cmd",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 960,
        "wires": [
            [
                "62dc86dc9c79cdf7"
            ]
        ]
    },
    {
        "id": "62dc86dc9c79cdf7",
        "type": "change",
        "z": "19f64249bd0b1250",
        "name": "ESP8266x00c1cd77",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.did",
                "pt": "msg",
                "to": "ESP8266x00c1cd77",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 960,
        "wires": [
            [
                "32b1fe87f55d86b3"
            ]
        ]
    },
    {
        "id": "f010e0f336aef9a1",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "开启",
        "props": [
            {
                "p": "payload.pld.power",
                "v": "on",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "f3e0b9d2faca958b"
            ]
        ]
    },
    {
        "id": "41fa370f38b8567e",
        "type": "inject",
        "z": "19f64249bd0b1250",
        "name": "关闭",
        "props": [
            {
                "p": "payload.pld.power",
                "v": "off",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "f3e0b9d2faca958b"
            ]
        ]
    },
    {
        "id": "ec2387ce840fafcd",
        "type": "link out",
        "z": "19f64249bd0b1250",
        "name": "",
        "mode": "link",
        "links": [
            "f4460e5db856239e"
        ],
        "x": 1235,
        "y": 960,
        "wires": []
    },
    {
        "id": "e5bb14890b0c38d9",
        "type": "nd-device-shadow",
        "z": "e783d53461d94d52",
        "name": "影子设备管理器",
        "x": 640,
        "y": 480,
        "wires": [
            [
                "05d8271694e66a5a",
                "8a709b1a39d198bd"
            ],
            [
                "fcbb294d52e343ff",
                "49a8b560db5011dd"
            ],
            [
                "462f9b9b4c1c9686",
                "b4077782b22895dd"
            ],
            [
                "18a8e92bbcd0e565",
                "77c9ae202d6e4d40"
            ],
            [
                "03fa3e9086488ab0",
                "081fe17ea9c64ad5"
            ],
            [
                "9ebe84f46287f3a3",
                "f4e66866333b0f4e"
            ]
        ]
    },
    {
        "id": "03fa3e9086488ab0",
        "type": "debug",
        "z": "e783d53461d94d52",
        "name": "插件输出",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "f57ff54afe0d2ac4",
        "type": "function",
        "z": "e783d53461d94d52",
        "name": "注册插件",
        "func": "let plugins = msg.payload;\n\nfunction regPlugin(name, url){\n    let msg = {\n        type: \"plugins\",\n        action: \"reg\",\n        payload: {\n            name: name,\n            url: url\n        }\n    }\n    node.send(msg)\n}\n\nplugins.forEach(plugin => {\n    regPlugin(plugin.id, plugin.url)\n})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 640,
        "wires": [
            [
                "3004876b5acc9d67"
            ]
        ]
    },
    {
        "id": "ce1d4ec51b7252a1",
        "type": "function",
        "z": "e783d53461d94d52",
        "name": "创建影子",
        "func": "let shadows = msg.payload;\n\nfunction newShadow(model, id, pid){\n    let msg = {\n        type: \"shadows\",\n        action: \"create\",\n        payload: {\n            model: model,\n            id: id,\n            pid: pid\n        }\n    }\n    node.send(msg)\n}\n\nshadows.forEach(shadow => {\n    newShadow(shadow.model, shadow.id, shadow.pid)\n})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 680,
        "wires": [
            [
                "33a3e92a73a4235c"
            ]
        ]
    },
    {
        "id": "f9bd9e62bdf28047",
        "type": "function",
        "z": "e783d53461d94d52",
        "name": "南向订阅设备主题",
        "func": "let id = msg.payload.id;\nlet topics = [\"0/0/dev/\"+id+\"/0/0/0/0\", \"0/0/dev/\"+id+\"/0/0/evt/status\"]\nnode.send({\n        action: \"subscribe\",\n        topic: topics\n})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 940,
        "wires": [
            [
                "9e37d384371f67cd"
            ]
        ]
    },
    {
        "id": "2b520716dd63ab85",
        "type": "function",
        "z": "e783d53461d94d52",
        "name": "南向输入",
        "func": "msg.type = \"south\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "e5bb14890b0c38d9"
            ]
        ]
    },
    {
        "id": "6e1b243376ea48e3",
        "type": "link in",
        "z": "e783d53461d94d52",
        "name": "南向输入",
        "links": [
            "160e3ce504dc0b49"
        ],
        "x": 265,
        "y": 360,
        "wires": [
            [
                "2b520716dd63ab85"
            ]
        ]
    },
    {
        "id": "459f1ef5e966022c",
        "type": "function",
        "z": "e783d53461d94d52",
        "name": "北向输入",
        "func": "msg.type = \"north\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 400,
        "wires": [
            [
                "e5bb14890b0c38d9"
            ]
        ]
    },
    {
        "id": "44b456873768ef74",
        "type": "link in",
        "z": "e783d53461d94d52",
        "name": "北向输入",
        "links": [
            "adeb7a4edd9ba86a"
        ],
        "x": 265,
        "y": 400,
        "wires": [
            [
                "459f1ef5e966022c"
            ]
        ]
    },
    {
        "id": "df3afa3ce9aebcde",
        "type": "switch",
        "z": "e783d53461d94d52",
        "name": "影子事件",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "create",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 960,
        "wires": [
            [
                "a723beda39984ef2"
            ],
            []
        ]
    },
    {
        "id": "a723beda39984ef2",
        "type": "change",
        "z": "e783d53461d94d52",
        "name": "create",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 960,
        "wires": [
            [
                "f9bd9e62bdf28047",
                "0c73f0a8b124f48f"
            ]
        ]
    },
    {
        "id": "9e37d384371f67cd",
        "type": "link out",
        "z": "e783d53461d94d52",
        "name": "订阅设备主题输出",
        "mode": "link",
        "links": [
            "cb11d32cb643517e"
        ],
        "x": 995,
        "y": 940,
        "wires": []
    },
    {
        "id": "05d8271694e66a5a",
        "type": "debug",
        "z": "e783d53461d94d52",
        "name": "南向输出",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "fcbb294d52e343ff",
        "type": "debug",
        "z": "e783d53461d94d52",
        "name": "北向输出",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "462f9b9b4c1c9686",
        "type": "debug",
        "z": "e783d53461d94d52",
        "name": "配置输出",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "18a8e92bbcd0e565",
        "type": "debug",
        "z": "e783d53461d94d52",
        "name": "通知输出",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 320,
        "wires": []
    },
    {
        "id": "9ebe84f46287f3a3",
        "type": "debug",
        "z": "e783d53461d94d52",
        "name": "影子输出",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "d36460ad49511b88",
        "type": "link in",
        "z": "e783d53461d94d52",
        "name": "注册插件输入",
        "links": [
            "aa6bdebe7db93d5a"
        ],
        "x": 265,
        "y": 640,
        "wires": [
            [
                "f57ff54afe0d2ac4"
            ]
        ]
    },
    {
        "id": "b5034fa324ebdc56",
        "type": "link in",
        "z": "e783d53461d94d52",
        "name": "创建影子输入",
        "links": [
            "094870fa884c4cc9"
        ],
        "x": 265,
        "y": 680,
        "wires": [
            [
                "ce1d4ec51b7252a1"
            ]
        ]
    },
    {
        "id": "8a709b1a39d198bd",
        "type": "link out",
        "z": "e783d53461d94d52",
        "name": "南向输出",
        "mode": "link",
        "links": [
            "28e8b108665f9a11"
        ],
        "x": 1015,
        "y": 380,
        "wires": []
    },
    {
        "id": "49a8b560db5011dd",
        "type": "link out",
        "z": "e783d53461d94d52",
        "name": "北向输出",
        "mode": "link",
        "links": [
            "1cc085b57aa685b5"
        ],
        "x": 1015,
        "y": 420,
        "wires": []
    },
    {
        "id": "b4077782b22895dd",
        "type": "link out",
        "z": "e783d53461d94d52",
        "name": "配置输出",
        "mode": "link",
        "links": [],
        "x": 1015,
        "y": 460,
        "wires": []
    },
    {
        "id": "77c9ae202d6e4d40",
        "type": "link out",
        "z": "e783d53461d94d52",
        "name": "通知输出",
        "mode": "link",
        "links": [],
        "x": 1015,
        "y": 500,
        "wires": []
    },
    {
        "id": "081fe17ea9c64ad5",
        "type": "link out",
        "z": "e783d53461d94d52",
        "name": "插件输出",
        "mode": "link",
        "links": [],
        "x": 1015,
        "y": 540,
        "wires": []
    },
    {
        "id": "f4e66866333b0f4e",
        "type": "link out",
        "z": "e783d53461d94d52",
        "name": "影子输出",
        "mode": "link",
        "links": [
            "804af47f31f5f402"
        ],
        "x": 1015,
        "y": 580,
        "wires": []
    },
    {
        "id": "804af47f31f5f402",
        "type": "link in",
        "z": "e783d53461d94d52",
        "name": "",
        "links": [
            "f4e66866333b0f4e"
        ],
        "x": 255,
        "y": 960,
        "wires": [
            [
                "df3afa3ce9aebcde"
            ]
        ]
    },
    {
        "id": "51d05361be283073",
        "type": "function",
        "z": "e783d53461d94d52",
        "name": "配置输入",
        "func": "msg.type = \"config\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 440,
        "wires": [
            [
                "e5bb14890b0c38d9"
            ]
        ]
    },
    {
        "id": "c7c8fd1da752ce1a",
        "type": "link in",
        "z": "e783d53461d94d52",
        "name": "配置输入",
        "links": [],
        "x": 265,
        "y": 440,
        "wires": [
            [
                "51d05361be283073"
            ]
        ]
    },
    {
        "id": "b920dc1beead3090",
        "type": "function",
        "z": "e783d53461d94d52",
        "name": "通知输入",
        "func": "msg.type = \"notify\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 480,
        "wires": [
            [
                "e5bb14890b0c38d9"
            ]
        ]
    },
    {
        "id": "5096ed59a325110f",
        "type": "link in",
        "z": "e783d53461d94d52",
        "name": "通知输入",
        "links": [],
        "x": 265,
        "y": 480,
        "wires": [
            [
                "b920dc1beead3090"
            ]
        ]
    },
    {
        "id": "3004876b5acc9d67",
        "type": "function",
        "z": "e783d53461d94d52",
        "name": "插件输入",
        "func": "msg.type = \"plugins\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 520,
        "wires": [
            [
                "e5bb14890b0c38d9"
            ]
        ]
    },
    {
        "id": "71fdbf8fb9c88d8c",
        "type": "link in",
        "z": "e783d53461d94d52",
        "name": "插件输入",
        "links": [],
        "x": 265,
        "y": 520,
        "wires": [
            [
                "3004876b5acc9d67"
            ]
        ]
    },
    {
        "id": "33a3e92a73a4235c",
        "type": "function",
        "z": "e783d53461d94d52",
        "name": "影子输入",
        "func": "msg.type = \"shadows\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 560,
        "wires": [
            [
                "e5bb14890b0c38d9"
            ]
        ]
    },
    {
        "id": "e599e319150ce318",
        "type": "link in",
        "z": "e783d53461d94d52",
        "name": "影子输入",
        "links": [],
        "x": 265,
        "y": 560,
        "wires": [
            [
                "33a3e92a73a4235c"
            ]
        ]
    },
    {
        "id": "0c73f0a8b124f48f",
        "type": "function",
        "z": "e783d53461d94d52",
        "name": "北向订阅控制主题",
        "func": "let id = msg.payload.id;\nlet topics = [\"0/0/0/0/dev/\"+id+\"/0/0\"]\nnode.send({\n        action: \"subscribe\",\n        topic: topics\n})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1000,
        "wires": [
            [
                "717675b7e9e6ca34"
            ]
        ]
    },
    {
        "id": "717675b7e9e6ca34",
        "type": "link out",
        "z": "e783d53461d94d52",
        "name": "订阅设备主题输出",
        "mode": "link",
        "links": [
            "0a01171c8c50575e"
        ],
        "x": 995,
        "y": 1000,
        "wires": []
    },
    {
        "id": "a5fab40b8a440bb5",
        "type": "mqtt in",
        "z": "0d352f1d7c785601",
        "name": "南向订阅",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "acbe893ce0e86722",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 460,
        "y": 400,
        "wires": [
            [
                "821bd3a334fab03b"
            ]
        ]
    },
    {
        "id": "cb11d32cb643517e",
        "type": "link in",
        "z": "0d352f1d7c785601",
        "name": "南向订阅",
        "links": [
            "9e37d384371f67cd"
        ],
        "x": 215,
        "y": 400,
        "wires": [
            [
                "a5fab40b8a440bb5",
                "5d943dbc78a53218"
            ]
        ]
    },
    {
        "id": "28e8b108665f9a11",
        "type": "link in",
        "z": "0d352f1d7c785601",
        "name": "南向输出",
        "links": [
            "8a709b1a39d198bd"
        ],
        "x": 215,
        "y": 480,
        "wires": [
            [
                "799983fe4c972017",
                "d09c8407a7bd8bb2"
            ]
        ]
    },
    {
        "id": "799983fe4c972017",
        "type": "function",
        "z": "0d352f1d7c785601",
        "name": "主题",
        "func": "msg.topic = \"0/0/0/0/dev/\" + msg.id + \"/0/0\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 480,
        "wires": [
            [
                "4e176511107e7771",
                "7d341f9dafad9a1d"
            ]
        ]
    },
    {
        "id": "160e3ce504dc0b49",
        "type": "link out",
        "z": "0d352f1d7c785601",
        "name": "南向输入",
        "mode": "link",
        "links": [
            "6e1b243376ea48e3"
        ],
        "x": 715,
        "y": 400,
        "wires": []
    },
    {
        "id": "1023e03ef3a77189",
        "type": "mqtt in",
        "z": "0d352f1d7c785601",
        "name": "北向订阅",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "b5ef31a7a90ee4e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 460,
        "y": 620,
        "wires": [
            [
                "820f08a18a27abbf"
            ]
        ]
    },
    {
        "id": "0a01171c8c50575e",
        "type": "link in",
        "z": "0d352f1d7c785601",
        "name": "北向订阅",
        "links": [
            "717675b7e9e6ca34"
        ],
        "x": 215,
        "y": 620,
        "wires": [
            [
                "1023e03ef3a77189"
            ]
        ]
    },
    {
        "id": "1cc085b57aa685b5",
        "type": "link in",
        "z": "0d352f1d7c785601",
        "name": "北向输出",
        "links": [
            "49a8b560db5011dd"
        ],
        "x": 215,
        "y": 700,
        "wires": [
            [
                "3134d006736621c4",
                "d09c8407a7bd8bb2"
            ]
        ]
    },
    {
        "id": "3134d006736621c4",
        "type": "function",
        "z": "0d352f1d7c785601",
        "name": "主题",
        "func": "msg.topic = \"0/0/dev/\" + msg.id + \"/0/0/0/0\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 700,
        "wires": [
            [
                "6cb182dc40c0572c"
            ]
        ]
    },
    {
        "id": "adeb7a4edd9ba86a",
        "type": "link out",
        "z": "0d352f1d7c785601",
        "name": "北向输入",
        "mode": "link",
        "links": [
            "44b456873768ef74"
        ],
        "x": 715,
        "y": 620,
        "wires": []
    },
    {
        "id": "4e176511107e7771",
        "type": "mqtt out",
        "z": "0d352f1d7c785601",
        "name": "南向发布",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "acbe893ce0e86722",
        "x": 460,
        "y": 480,
        "wires": []
    },
    {
        "id": "6cb182dc40c0572c",
        "type": "mqtt out",
        "z": "0d352f1d7c785601",
        "name": "北向发布",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b5ef31a7a90ee4e8",
        "x": 460,
        "y": 700,
        "wires": []
    },
    {
        "id": "821bd3a334fab03b",
        "type": "function",
        "z": "0d352f1d7c785601",
        "name": "设备ID",
        "func": "msg.topics = msg.topic.split(\"/\");\nmsg.id = msg.topics[3]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 400,
        "wires": [
            [
                "160e3ce504dc0b49"
            ]
        ]
    },
    {
        "id": "820f08a18a27abbf",
        "type": "function",
        "z": "0d352f1d7c785601",
        "name": "设备ID",
        "func": "msg.topics = msg.topic.split(\"/\");\nmsg.id = msg.topics[5]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 620,
        "wires": [
            [
                "adeb7a4edd9ba86a",
                "985bc775adafa0bb"
            ]
        ]
    },
    {
        "id": "5d943dbc78a53218",
        "type": "debug",
        "z": "0d352f1d7c785601",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 320,
        "wires": []
    },
    {
        "id": "b7a8b84e682501c7",
        "type": "http request",
        "z": "0d352f1d7c785601",
        "name": "shadows_get_plugins",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 640,
        "y": 120,
        "wires": [
            [
                "3b4462e314905f6b"
            ]
        ]
    },
    {
        "id": "b44486d7e2a518c2",
        "type": "inject",
        "z": "0d352f1d7c785601",
        "d": true,
        "name": "shadows_get_plugins",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "c5eeab9c154db336"
            ]
        ]
    },
    {
        "id": "ee8c2f3a2721a58c",
        "type": "inject",
        "z": "0d352f1d7c785601",
        "name": "shadows_get_devices",
        "props": [
            {
                "p": "url",
                "v": "https://iot-mqtt.beta.ndaeweb.com/dio/shadows_get_devices",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"edg_id\":\"ND--20200609EVI\"}",
        "payloadType": "json",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "024c5c7923b1db29"
            ]
        ]
    },
    {
        "id": "3b4462e314905f6b",
        "type": "json",
        "z": "0d352f1d7c785601",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 120,
        "wires": [
            [
                "024c5c7923b1db29",
                "aa6bdebe7db93d5a"
            ]
        ]
    },
    {
        "id": "a017cabe55d2e3c1",
        "type": "http request",
        "z": "0d352f1d7c785601",
        "name": "shadows_get_devices",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "188254f9b561e229"
            ]
        ]
    },
    {
        "id": "188254f9b561e229",
        "type": "json",
        "z": "0d352f1d7c785601",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 180,
        "wires": [
            [
                "094870fa884c4cc9"
            ]
        ]
    },
    {
        "id": "c5eeab9c154db336",
        "type": "function",
        "z": "0d352f1d7c785601",
        "name": "获取插件",
        "func": "msg.url = msg.url || \"https://iot-mqtt.beta.ndaeweb.com/dio/shadows_get_plugins\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "b7a8b84e682501c7"
            ]
        ]
    },
    {
        "id": "024c5c7923b1db29",
        "type": "function",
        "z": "0d352f1d7c785601",
        "name": "获取设备",
        "func": "msg = {}\nmsg.url = msg.url || \"https://iot-mqtt.beta.ndaeweb.com/dio/shadows_get_devices\";\nmsg.payload = msg.payload || {}\nmsg.payload.edg_id =msg.payload.edg_id || \"ND--20200609EVI\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "a017cabe55d2e3c1"
            ]
        ]
    },
    {
        "id": "aa6bdebe7db93d5a",
        "type": "link out",
        "z": "0d352f1d7c785601",
        "name": "获取插件输出",
        "mode": "link",
        "links": [
            "d36460ad49511b88"
        ],
        "x": 1005,
        "y": 120,
        "wires": []
    },
    {
        "id": "094870fa884c4cc9",
        "type": "link out",
        "z": "0d352f1d7c785601",
        "name": "获取设备输出",
        "mode": "link",
        "links": [
            "b5034fa324ebdc56"
        ],
        "x": 1005,
        "y": 180,
        "wires": []
    },
    {
        "id": "d09c8407a7bd8bb2",
        "type": "debug",
        "z": "0d352f1d7c785601",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "id",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 580,
        "wires": []
    },
    {
        "id": "f116efc670c6c6fc",
        "type": "mqtt in",
        "z": "0d352f1d7c785601",
        "name": "",
        "topic": "0/0/dev/#",
        "qos": "2",
        "datatype": "json",
        "broker": "acbe893ce0e86722",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 800,
        "wires": [
            [
                "948f3fd3857562dd"
            ]
        ]
    },
    {
        "id": "948f3fd3857562dd",
        "type": "debug",
        "z": "0d352f1d7c785601",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 800,
        "wires": []
    },
    {
        "id": "0dea05963582bfd1",
        "type": "mqtt in",
        "z": "0d352f1d7c785601",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "acbe893ce0e86722",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 900,
        "wires": [
            [
                "2358be289d23ad88"
            ]
        ]
    },
    {
        "id": "2358be289d23ad88",
        "type": "debug",
        "z": "0d352f1d7c785601",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 900,
        "wires": []
    },
    {
        "id": "985bc775adafa0bb",
        "type": "debug",
        "z": "0d352f1d7c785601",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "7d341f9dafad9a1d",
        "type": "debug",
        "z": "0d352f1d7c785601",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 560,
        "wires": []
    }
]