data/dispatcher/nd/flows.json
[
    {
        "id": "7c7a09edf982e2f4",
        "type": "tab",
        "label": "全局配置",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e93bbc67912b9178",
        "type": "tab",
        "label": "订阅/发布",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f7e96a32e56d72eb",
        "type": "tab",
        "label": "调度主题",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "73824c52c204153b",
        "type": "mqtt-broker",
        "name": "push",
        "broker": "push-access.sdp.101.com",
        "port": "1780",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f544f205.d51a7",
        "type": "inject",
        "z": "7c7a09edf982e2f4",
        "name": "初始化",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "52f82eb73840e302"
            ]
        ]
    },
    {
        "id": "d6802406.a5a078",
        "type": "change",
        "z": "7c7a09edf982e2f4",
        "name": "数据",
        "rules": [
            {
                "t": "set",
                "p": "data",
                "pt": "global",
                "to": "{\"app\":{\"id\":\"ndiot\",\"name\":\"网龙物联网\"},\"domain\":{\"id\":\"nd\",\"name\":\"网龙公司\",\"devices\":{},\"topic\":{\"subs\":{\"edg_svc_handshake\":\"{app}/{domain}/edge/service/handshake/#\",\"edg_evt_heartbeat\":\"{app}/{domain}/edge/event/heartbeat/#\",\"dev_evt_heartbeat\":\"{app}/{domain}/device/event/heartbeat/#\",\"dev_evt_reboot\":\"{app}/{domain}/device/event/reboot/#\",\"dev_evt_reconnect\":\"{app}/{domain}/device/event/reconnect/#\",\"dev_evt_report\":\"{app}/{domain}/device/event/report/#\"},\"services\":{\"dsp_svc_login\":\"{app}/{domain}/dispatcher/service/login/#\"},\"pubs\":{\"dev_svc_login\":\"{app}/{domain}/device/service/login/{did}\",\"edg_svc_login\":\"{app}/{domain}/edge/service/login/{did}\"}}},\"devices\":{\"ESP8266x0006dbe5\":{\"realtime\":{\"login\":{},\"handshake\":{},\"heartbeat\":{},\"report\":{}}}}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "common",
                "pt": "global",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "04a622cf8260f366"
            ]
        ]
    },
    {
        "id": "04a622cf8260f366",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "数据补全",
        "func": "let data = global.get(\"data\");\ndata.domain.devices = data.devices;\nlet app = data.app;\nlet domain = data.domain;\nlet topic = domain.topic;\n\nlet expandTopic = {\n    expandStr : function(v, did) {\n        if (typeof v == \"string\") {\n            v = v.replace(/\\{app\\}/g, app.id);\n            v = v.replace(/\\{domain\\}/g, domain.id);\n            if (did) {\n                v = v.replace(/\\{did\\}/g, did);\n            }\n        }\n        return v;\n    },\n    expandArray : function(v, did) {\n        if (Array.isArray(v)) {\n            for(let i=0; i < v.length; i++) {\n                v[i] = this.expand(v[i], did);\n            }\n        }\n        return arr;\n    },\n    expandObj : function(v, did) {\n        if (typeof v == \"object\") {\n            let keys = Object.keys(v);\n            keys.forEach(k => {\n                v[k] = this.expand(v[k], did);\n            });\n        }\n        return v;        \n    },\n    expand : function(v, did) {\n        if (typeof v == \"string\")\n            v = this.expandStr(v, did);\n                    \n        if (Array.isArray(v)) {\n            v = expandArray(v, did);\n        }\n        \n        if (typeof v == \"object\") {\n            v = this.expandObj(v, did)\n        }\n                \n        return v\n    }\n}\n    \n\nlet common = {\n    expandTopic : expandTopic\n}\n\ncommon.expandTopic.expand(domain.topic);\n\nglobal.set(\"common\", common)\n\n\nreturn {payload: data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [
            [
                "f70a2bb4819417da",
                "8b57a87f6d8a7588"
            ]
        ]
    },
    {
        "id": "52f82eb73840e302",
        "type": "OS",
        "z": "7c7a09edf982e2f4",
        "name": "",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "705cd1a4e7548610"
            ]
        ]
    },
    {
        "id": "705cd1a4e7548610",
        "type": "change",
        "z": "7c7a09edf982e2f4",
        "name": "OS",
        "rules": [
            {
                "t": "set",
                "p": "os",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "c27b74647cc92e82"
            ]
        ]
    },
    {
        "id": "c27b74647cc92e82",
        "type": "home-dir",
        "z": "7c7a09edf982e2f4",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "3e822ed879b8777e"
            ]
        ]
    },
    {
        "id": "3e822ed879b8777e",
        "type": "change",
        "z": "7c7a09edf982e2f4",
        "name": "datadir",
        "rules": [
            {
                "t": "set",
                "p": "os.datadir",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 100,
        "wires": [
            [
                "d6802406.a5a078"
            ]
        ]
    },
    {
        "id": "8b57a87f6d8a7588",
        "type": "debug",
        "z": "7c7a09edf982e2f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "f70a2bb4819417da",
        "type": "link out",
        "z": "7c7a09edf982e2f4",
        "name": "配置完成",
        "mode": "link",
        "links": [
            "906bb62a708b4c0c"
        ],
        "x": 545,
        "y": 240,
        "wires": []
    },
    {
        "id": "0f989c13f4e0c1cb",
        "type": "mqtt in",
        "z": "e93bbc67912b9178",
        "name": "mqtt订阅",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "73824c52c204153b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "ee0217ceba515222"
            ]
        ]
    },
    {
        "id": "906bb62a708b4c0c",
        "type": "link in",
        "z": "e93bbc67912b9178",
        "name": "",
        "links": [
            "f70a2bb4819417da"
        ],
        "x": 125,
        "y": 140,
        "wires": [
            [
                "589883c5ddd06e17"
            ]
        ]
    },
    {
        "id": "589883c5ddd06e17",
        "type": "function",
        "z": "e93bbc67912b9178",
        "name": "主题订阅",
        "func": "let data = global.get(\"data\")\nlet domain = data.domain;\n\nnode.send({\n        action: \"subscribe\",\n        topic: Object.values(domain.topic.subs)\n})\n\nnode.send({\n        action: \"subscribe\",\n        topic: Object.values(domain.topic.services)\n})\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 140,
        "wires": [
            [
                "0f989c13f4e0c1cb"
            ]
        ]
    },
    {
        "id": "745ba2affb87c4cd",
        "type": "debug",
        "z": "e93bbc67912b9178",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "_topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "ee0217ceba515222",
        "type": "function",
        "z": "e93bbc67912b9178",
        "name": "",
        "func": "let topic = msg.topic.split(\"/\")\nlet _topic = {\n    app: topic[0],\n    domain: topic[1],\n    end: topic[2],\n    type: topic[3],\n    func: topic[4],\n    did: topic[5],\n}\nmsg._topic = _topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 140,
        "wires": [
            [
                "745ba2affb87c4cd",
                "be8cd487c69c6c5a"
            ]
        ]
    },
    {
        "id": "be8cd487c69c6c5a",
        "type": "link out",
        "z": "e93bbc67912b9178",
        "name": "订阅输出",
        "mode": "link",
        "links": [
            "2ff5101df1ab6584"
        ],
        "x": 665,
        "y": 140,
        "wires": []
    },
    {
        "id": "47f3ed4e61a01a5c",
        "type": "function",
        "z": "e93bbc67912b9178",
        "name": "",
        "func": "let common = global.get(\"common\")\nlet did = msg.payload.hd.id || msg.payload.pld.id;\nmsg.topic = common.expandTopic.expand(msg.topic, did);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 320,
        "wires": [
            [
                "8990876a77a537e8",
                "d5db30b412aaf4ae"
            ]
        ]
    },
    {
        "id": "8990876a77a537e8",
        "type": "mqtt out",
        "z": "e93bbc67912b9178",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73824c52c204153b",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "f4460e5db856239e",
        "type": "link in",
        "z": "e93bbc67912b9178",
        "name": "mqtt发布",
        "links": [
            "9b3a8e543bd70406"
        ],
        "x": 125,
        "y": 320,
        "wires": [
            [
                "47f3ed4e61a01a5c"
            ]
        ]
    },
    {
        "id": "d5db30b412aaf4ae",
        "type": "debug",
        "z": "e93bbc67912b9178",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "2ff5101df1ab6584",
        "type": "link in",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "links": [
            "be8cd487c69c6c5a"
        ],
        "x": 125,
        "y": 220,
        "wires": [
            [
                "2960d37440adb67d"
            ]
        ]
    },
    {
        "id": "2960d37440adb67d",
        "type": "switch",
        "z": "f7e96a32e56d72eb",
        "name": "调度",
        "property": "_topic.end",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "dispatcher",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 220,
        "wires": [
            [
                "1faf71b0d9db29dd",
                "83f0e98eb8e51e16"
            ]
        ]
    },
    {
        "id": "a91a584b038a1d91",
        "type": "switch",
        "z": "f7e96a32e56d72eb",
        "name": "登入",
        "property": "_topic.func",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "login",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "d3b8d4ef2a9d44b5"
            ]
        ]
    },
    {
        "id": "04caa3f2bc2fcfba",
        "type": "debug",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "d3b8d4ef2a9d44b5",
        "type": "switch",
        "z": "f7e96a32e56d72eb",
        "name": "请求",
        "property": "payload.hd.stp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "04caa3f2bc2fcfba",
                "5999a64d148a1410"
            ]
        ]
    },
    {
        "id": "1faf71b0d9db29dd",
        "type": "switch",
        "z": "f7e96a32e56d72eb",
        "name": "服务",
        "property": "_topic.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "service",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "a91a584b038a1d91"
            ]
        ]
    },
    {
        "id": "83f0e98eb8e51e16",
        "type": "debug",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "_topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "5999a64d148a1410",
        "type": "function",
        "z": "f7e96a32e56d72eb",
        "name": "处理",
        "func": "let data = global.get(\"data\");\nmsg.payload.hd.stp = 1;\nmsg.topic = data.domain.topic.pubs.dev_svc_login;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 320,
        "wires": [
            [
                "9b3a8e543bd70406"
            ]
        ]
    },
    {
        "id": "9b3a8e543bd70406",
        "type": "link out",
        "z": "f7e96a32e56d72eb",
        "name": "发布",
        "mode": "link",
        "links": [
            "f4460e5db856239e"
        ],
        "x": 375,
        "y": 320,
        "wires": []
    }
]