data/platform/ndv2/flows.json
[
    {
        "id": "7c7a09edf982e2f4",
        "type": "tab",
        "label": "全局配置(平台)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e93bbc67912b9178",
        "type": "tab",
        "label": "订阅/发布",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46a5ba0d798d87c3",
        "type": "tab",
        "label": "接口调用",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f7e96a32e56d72eb",
        "type": "tab",
        "label": "接口处理",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4f298837cfcb1b75",
        "type": "mqtt-broker",
        "name": "push",
        "broker": "push-access.sdp.101.com",
        "port": "1780",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8ca095982007a8dc",
        "type": "mqtt-broker",
        "name": "platform",
        "broker": "172.24.135.38",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f544f205.d51a7",
        "type": "inject",
        "z": "7c7a09edf982e2f4",
        "name": "初始化",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "52f82eb73840e302"
            ]
        ]
    },
    {
        "id": "d6802406.a5a078",
        "type": "change",
        "z": "7c7a09edf982e2f4",
        "name": "数据",
        "rules": [
            {
                "t": "set",
                "p": "data",
                "pt": "global",
                "to": "{\"app\":{\"id\":\"ndiot\",\"name\":\"网龙物联网\",\"platform\":{\"id\":\"nd\",\"name\":\"网龙集控平台\",\"devices\":{},\"topics\":{\"subs\":{\"device\":{\"dev_evt_report\":\"{app}/+/dev/+/+/+/evt/report\",\"dev_evt_status\":\"{app}/+/dev/+/+/+/evt/status\",\"dev_svc_get\":\"{app}/+/dev/+/+/+/svc/get\",\"dev_svc_set\":\"{app}/+/dev/+/+/+/svc/set\",\"dev_svc_login\":\"{app}/0/dev/+/0/0/svc/login\",\"dev_svc_handshake\":\"{app}/+/dev/+/+/+/svc/handshake\"},\"platform\":{\"plf_heartbeat\":\"ndiot/client/+/+/+/heartbeat\",\"plf_dev_ctrl\":\"ndiot/client/+/+/+/dev_ctrl\",\"plf_dev_prop\":\"ndiot/client/+/+/+/dev_prop\",\"plf_dev_srv\":\"ndiot/client/+/+/+/dev_srv\"}},\"pubs\":{\"platform\":{\"plf_heartbeat\":\"ndiot/server/{dom}/{pdev}/{dev}/heartbeat\",\"plf_dev_ctrl\":\"ndiot/server/{dom}/{pdev}/{dev}/dev_ctrl\",\"plf_dev_prop\":\"ndiot/server/{dom}/{pdev}/{dev}/dev_prop\",\"plf_dev_evt\":\"ndiot/server/{dom}/{pdev}/{dev}/dev_evt\",\"plf_dev_srv\":\"ndiot/server/{dom}/{pdev}/{dev}/dev_srv\"}}}}},\"platform\":{},\"devices\":{},\"topics\":{},\"ids\":{}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "common",
                "pt": "global",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "ids",
                "pt": "global",
                "to": "{\"app\":\"ndiot\",\"plf\":\"nd\",\"mqtt\":\"{app}_plf_{plf}\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 300,
        "wires": [
            [
                "49c8c1cb0342d9c7"
            ]
        ]
    },
    {
        "id": "52f82eb73840e302",
        "type": "OS",
        "z": "7c7a09edf982e2f4",
        "name": "",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "705cd1a4e7548610"
            ]
        ]
    },
    {
        "id": "705cd1a4e7548610",
        "type": "change",
        "z": "7c7a09edf982e2f4",
        "name": "OS",
        "rules": [
            {
                "t": "set",
                "p": "os",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "c27b74647cc92e82"
            ]
        ]
    },
    {
        "id": "c27b74647cc92e82",
        "type": "home-dir",
        "z": "7c7a09edf982e2f4",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "3e822ed879b8777e"
            ]
        ]
    },
    {
        "id": "3e822ed879b8777e",
        "type": "change",
        "z": "7c7a09edf982e2f4",
        "name": "datadir",
        "rules": [
            {
                "t": "set",
                "p": "os.datadir",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 100,
        "wires": [
            [
                "d6802406.a5a078"
            ]
        ]
    },
    {
        "id": "f70a2bb4819417da",
        "type": "link out",
        "z": "7c7a09edf982e2f4",
        "name": "配置完成",
        "mode": "link",
        "links": [
            "3fdb98726d73125a",
            "906bb62a708b4c0c",
            "0922699ae03a7bce"
        ],
        "x": 615,
        "y": 780,
        "wires": []
    },
    {
        "id": "4aa5b949a197bcb7",
        "type": "inject",
        "z": "7c7a09edf982e2f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "data",
        "payloadType": "global",
        "x": 180,
        "y": 860,
        "wires": [
            [
                "61299e55f08ac3e1"
            ]
        ]
    },
    {
        "id": "61299e55f08ac3e1",
        "type": "debug",
        "z": "7c7a09edf982e2f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 860,
        "wires": []
    },
    {
        "id": "5aa147a907c230dc",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "缓存数据函数",
        "func": "let data = global.get(\"data\");\nlet common = global.get(\"common\");\n\nlet online = function(){\n    let events = this.events;\n    if (events && events.status)\n        return events.status.pld.online;\n    return 0;\n}\n\nlet cachePayload = function(payload) {\n    let hd = payload.hd;\n    if (hd.from.type == \"dev\") {\n        let dev = data.devices[hd.from.id] || {events:{}};\n        dev.id = hd.from.id;\n        dev.events[hd.entry.id] = payload;\n        dev.online = online;\n        data.devices[hd.from.id] = dev;\n    }\n\n}\n\ncommon.cachePayload = cachePayload;\n\nreturn {payload: data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 420,
        "wires": [
            [
                "8a150c4e39780822"
            ]
        ]
    },
    {
        "id": "8f9fd53894d1e41e",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "展开主题函数",
        "func": "let data = global.get(\"data\");\nlet common = global.get(\"common\");\nlet ids = global.get(\"ids\");\n\n\nlet expandTopic = {\n    expandStr : function(v, domId, pdevId, devId) {\n        if (typeof v == \"string\") {\n            v = v.replace(/\\{app\\}/g, ids.app);\n            v = v.replace(/\\{plf\\}/g, ids.plf);\n            if (domId)\n                v = v.replace(/\\{dom\\}/g, domId);\n            if (pdevId)\n                v = v.replace(/\\{pdev\\}/g, pdevId);\n            if (devId)\n                v = v.replace(/\\{dev\\}/g, devId);\n        }\n        return v;\n    },\n    expandArray : function(v, domId, pdevId, devId) {\n        if (Array.isArray(v)) {\n            for(let i=0; i < v.length; i++) {\n                v[i] = this.expand(v[i], domId, pdevId, devId);\n            }\n        }\n        return arr;\n    },\n    expandObj : function(v, domId, pdevId, devId) {\n        if (typeof v == \"object\") {\n            let keys = Object.keys(v);\n            keys.forEach(k => {\n                v[k] = this.expand(v[k], domId, pdevId, devId);\n            });\n        }\n        return v;        \n    },\n    expand : function(v, domId, pdevId, devId) {\n        if (typeof v == \"string\")\n            v = this.expandStr(v, domId, pdevId, devId);\n                    \n        if (Array.isArray(v)) {\n            v = expandArray(v, domId, pdevId, devId);\n        }\n        \n        if (typeof v == \"object\") {\n            v = this.expandObj(v, domId, pdevId, devId)\n        }\n                \n        return v\n    }\n}\n    \n\n\ncommon.expandTopic = expandTopic;\n\nreturn {payload: data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 360,
        "wires": [
            [
                "5aa147a907c230dc"
            ]
        ]
    },
    {
        "id": "49c8c1cb0342d9c7",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "数据初始化",
        "func": "let data = global.get(\"data\");\nlet ids = global.get(\"ids\");\n\nlet app = data.app;\nlet plf = app.platform;\n\napp.id = ids.app;\nplf.id = ids.plf;\n\n\ndata.platform = plf;\ndata.topics = plf.topics;\ndata.ids = ids;\ndata.devices = plf.devices;\n\n\nreturn {payload: data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 300,
        "wires": [
            [
                "8f9fd53894d1e41e"
            ]
        ]
    },
    {
        "id": "9dbcf892f20005a9",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "数据补全",
        "func": "let data = global.get(\"data\");\nlet common = global.get(\"common\");\n    \ncommon.expandTopic.expand(data.topics);\ncommon.expandTopic.expand(data.ids);\n\n\nreturn {payload: data};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 700,
        "wires": [
            [
                "e73c2d75462f2932",
                "f70a2bb4819417da"
            ]
        ]
    },
    {
        "id": "8a150c4e39780822",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "键值转ID函数",
        "func": "let common = global.get(\"common\");\n\nlet keyToObjId = function(objs) {\n        let keys = Object.keys(objs);\n        keys.forEach(key => {\n            let obj = objs[key];\n            if (typeof obj == \"object\") \n                obj.id = key;\n        })        \n    }\n\n\ncommon.keyToObjId = keyToObjId;\n\nreturn {payload: common};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 480,
        "wires": [
            [
                "d76bcc652b9720ca"
            ]
        ]
    },
    {
        "id": "d76bcc652b9720ca",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "获取HD主题函数",
        "func": "let common = global.get(\"common\");\nlet ids = global.get(\"data\").ids;\n\nlet getHDTopic = function(hd) {\n    let tpc = \"\";\n    if (!hd.from) hd.from = {};\n    if (!hd.from.type) hd.from.type = \"edg\";\n    if (!hd.from.id) hd.from.id = ids.edg;\n    if (!hd.to.type) hd.to.type = \"0\";\n    if (!hd.to.id) hd.to.id = \"0\";\n    if (!hd.entry.type) hd.entry.type = \"0\";\n    if (!hd.entry.id) hd.entry.id = \"0\";\n    if (!hd.sid) hd.sid = \"0\";\n    if (!hd.stp) hd.stp = 0;\n\n\n    tpc =   ids.app + \"/\" + ids.dom + \"/\" + \n            hd.from.type + \"/\" + hd.from.id + \"/\" + \n            hd.to.type + \"/\" + hd.to.id + \"/\" + \n            hd.entry.type + \"/\" + hd.entry.id;\n    return tpc;\n}\n\n\ncommon.getHDTopic = getHDTopic;\n\nreturn {payload: common};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 540,
        "wires": [
            [
                "ac6d7c74caa09efb"
            ]
        ]
    },
    {
        "id": "e73c2d75462f2932",
        "type": "debug",
        "z": "7c7a09edf982e2f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 720,
        "wires": []
    },
    {
        "id": "ac6d7c74caa09efb",
        "type": "function",
        "z": "7c7a09edf982e2f4",
        "name": "Z3协调器初始化函数",
        "func": "let data = global.get(\"data\");\nlet common = global.get(\"common\");\nlet os = global.get(\"os\");\nlet devices = data.devices;\nlet topics = data.topics;\nlet tcpPort = 18190;\nlet z2mDir = os.datadir + \"/../../../../zigbee2mqtt\"\n\nlet running = function() {\n    return  this.z2m && this.z2m.status && this.z2m.status == \"running\" &&\n            this.tcp && this.tcp.status && this.tcp.status == \"listened\"\n}\n\nlet setDevice = (device, tcpPort) => {\n    let dataDir = z2mDir + \"/data/\" + device.id; \n    let execStr = \"cd \" + z2mDir;\n    if (os.platform == \"win32\"){\n        execStr =execStr + \"&& set ZIGBEE2MQTT_DATA=\" + dataDir;\n        execStr =execStr + \"&& npm start\";\n    }\n\n    let z2m = device.z2m || {};\n    z2m.tcp = {\n            port: tcpPort,\n            status: null\n        };\n    z2m.z2m = {\n            configuration: {\n                mqtt: {\n                    base_topic: device.id,\n                    server: \"mqtt://push-access.sdp.101.com:1780\",\n                    user: \"ioe\"\n                },\n                serial: {\n                    port: \"tcp://127.0.0.1:\" + tcpPort\n                },\n                frontend: {\n                    port: tcpPort - 100\n                }\n            },\n            topics: {\n                sub: common.expandTopic.expand(topics.dysubs.dev_evt_raw, device.id),\n                pub: common.getHDTopic({to: {type: \"dev\", id: device.id}, \n                                        entry: {type: \"svc\", id: topics.pubs.dev_svc_raw}})\n            },\n            datadir: dataDir,\n            configfile: \"configuration.yaml\",\n            configfullfile: dataDir + \"/configuration.yaml\",\n            databasefile: \"database.db\",\n            databasefullfile: dataDir + \"/database.db\",\n            exec: execStr,\n            status: null,\n            datafile: z2m.z2m && z2m.z2m.datafile\n        };\n    z2m.running = running;\n    device.z2m = z2m;\n}\n\n\nlet initZ3CoDevice = function(did) {\n    let device = devices[did];\n    if (device && (!device.z2m || !device.z2m.tcp || !device.z2m.z2m)) {\n        setDevice(device, tcpPort++);\n    }\n    \n    return device;\n}\n\n\ncommon.initZ3CoDevice = initZ3CoDevice;\n\nreturn {payload: common};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 600,
        "wires": [
            [
                "9dbcf892f20005a9"
            ]
        ]
    },
    {
        "id": "0f989c13f4e0c1cb",
        "type": "mqtt in",
        "z": "e93bbc67912b9178",
        "name": "终端订阅",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "4f298837cfcb1b75",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "0050c31c1969d8ff",
                "c503d35a9ca051ed"
            ]
        ]
    },
    {
        "id": "906bb62a708b4c0c",
        "type": "link in",
        "z": "e93bbc67912b9178",
        "name": "",
        "links": [
            "f70a2bb4819417da"
        ],
        "x": 125,
        "y": 140,
        "wires": [
            [
                "589883c5ddd06e17",
                "6f8bdfc3868c6d34"
            ]
        ]
    },
    {
        "id": "589883c5ddd06e17",
        "type": "function",
        "z": "e93bbc67912b9178",
        "name": "订阅主题",
        "func": "let data = global.get(\"data\")\nlet topics = data.topics;\n\nnode.send({\n        action: \"subscribe\",\n        topic: Object.values(topics.subs.device)\n})\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 140,
        "wires": [
            [
                "0f989c13f4e0c1cb",
                "f6ce25be1914c84e"
            ]
        ]
    },
    {
        "id": "745ba2affb87c4cd",
        "type": "debug",
        "z": "e93bbc67912b9178",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "ee0217ceba515222",
        "type": "function",
        "z": "e93bbc67912b9178",
        "name": "缓存数据",
        "func": "let common = global.get(\"common\");\ncommon.cachePayload(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 140,
        "wires": [
            [
                "be8cd487c69c6c5a"
            ]
        ]
    },
    {
        "id": "be8cd487c69c6c5a",
        "type": "link out",
        "z": "e93bbc67912b9178",
        "name": "订阅输出",
        "mode": "link",
        "links": [
            "2ff5101df1ab6584"
        ],
        "x": 965,
        "y": 140,
        "wires": []
    },
    {
        "id": "47f3ed4e61a01a5c",
        "type": "function",
        "z": "e93bbc67912b9178",
        "d": true,
        "name": "发布主题",
        "func": "let common = global.get(\"common\")\nmsg.topic = common.getHDTopic(msg.payload.hd);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 920,
        "wires": [
            [
                "8990876a77a537e8",
                "d5db30b412aaf4ae",
                "a83fbf51e61bce78"
            ]
        ]
    },
    {
        "id": "8990876a77a537e8",
        "type": "mqtt out",
        "z": "e93bbc67912b9178",
        "name": "mqtt发布",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4f298837cfcb1b75",
        "x": 580,
        "y": 920,
        "wires": []
    },
    {
        "id": "f4460e5db856239e",
        "type": "link in",
        "z": "e93bbc67912b9178",
        "name": "mqtt发布",
        "links": [
            "9b3a8e543bd70406",
            "5002cb933f4b4eb5",
            "cb5a80219ea82576",
            "befe5b1ac4389423"
        ],
        "x": 305,
        "y": 920,
        "wires": [
            [
                "47f3ed4e61a01a5c"
            ]
        ]
    },
    {
        "id": "d5db30b412aaf4ae",
        "type": "debug",
        "z": "e93bbc67912b9178",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1000,
        "wires": []
    },
    {
        "id": "13403285d1db57b7",
        "type": "function",
        "z": "e93bbc67912b9178",
        "name": "时间戳",
        "func": "let date = new Date()\nmsg.payload.hd.tpc = msg.topic;\nmsg.payload.hd.tms=date.valueOf();\nmsg.payload.hd.tm=date.toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 140,
        "wires": [
            [
                "745ba2affb87c4cd",
                "ee0217ceba515222"
            ]
        ]
    },
    {
        "id": "a83fbf51e61bce78",
        "type": "debug",
        "z": "e93bbc67912b9178",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 1080,
        "wires": []
    },
    {
        "id": "1fbea7baf2a0c450",
        "type": "link in",
        "z": "e93bbc67912b9178",
        "name": "动态订阅主题",
        "links": [
            "83c403b1c017c665"
        ],
        "x": 125,
        "y": 100,
        "wires": [
            [
                "0f989c13f4e0c1cb",
                "f6ce25be1914c84e"
            ]
        ]
    },
    {
        "id": "f6ce25be1914c84e",
        "type": "debug",
        "z": "e93bbc67912b9178",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "39ab7df981465702",
        "type": "change",
        "z": "e93bbc67912b9178",
        "name": "自动连接",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker.autoConnect",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.clientid",
                "pt": "msg",
                "to": "data.ids.mqtt",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1260,
        "wires": [
            [
                "564455fd4b928ba4"
            ]
        ]
    },
    {
        "id": "564455fd4b928ba4",
        "type": "change",
        "z": "e93bbc67912b9178",
        "name": "连接消息",
        "rules": [
            {
                "t": "set",
                "p": "broker.birth.topic",
                "pt": "msg",
                "to": "data.topics.pubs.edg_evt_status",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "broker.birth.qos",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "broker.birth.retain",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.birth.payload.hd.from.type",
                "pt": "msg",
                "to": "edg",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker.birth.payload.hd.from.id",
                "pt": "msg",
                "to": "data.ids.edg",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "broker.birth.payload.hd.to.type",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker.birth.payload.hd.to.id",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker.birth.payload.hd.entry.type",
                "pt": "msg",
                "to": "evt",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker.birth.payload.hd.entry.id",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker.birth.payload.pld.online",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "broker.birth.payload.pld.id",
                "pt": "msg",
                "to": "data.ids.edg",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1260,
        "wires": [
            [
                "48eb4156b393f84f"
            ]
        ]
    },
    {
        "id": "48eb4156b393f84f",
        "type": "change",
        "z": "e93bbc67912b9178",
        "name": "遗嘱消息",
        "rules": [
            {
                "t": "set",
                "p": "broker.will",
                "pt": "msg",
                "to": "broker.birth",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "broker.will.payload.pld.online",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "0050c31c1969d8ff",
        "type": "json",
        "z": "e93bbc67912b9178",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "13403285d1db57b7"
            ]
        ]
    },
    {
        "id": "c503d35a9ca051ed",
        "type": "debug",
        "z": "e93bbc67912b9178",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "fd9142a5a09379ce",
        "type": "mqtt in",
        "z": "e93bbc67912b9178",
        "name": "平台订阅",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "8ca095982007a8dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 400,
        "y": 400,
        "wires": [
            [
                "fccb863e4a408775"
            ]
        ]
    },
    {
        "id": "6f8bdfc3868c6d34",
        "type": "function",
        "z": "e93bbc67912b9178",
        "name": "订阅主题",
        "func": "let data = global.get(\"data\")\nlet topics = data.topics;\n\nnode.send({\n        action: \"subscribe\",\n        topic: Object.values(topics.subs.platform)\n})\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 400,
        "wires": [
            [
                "fd9142a5a09379ce",
                "ef9ae27a95c89e0a"
            ]
        ]
    },
    {
        "id": "599a05613f21ceb0",
        "type": "function",
        "z": "e93bbc67912b9178",
        "name": "缓存数据",
        "func": "let common = global.get(\"common\");\ncommon.cachePayload(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 400,
        "wires": [
            [
                "a25c1430b228eb35"
            ]
        ]
    },
    {
        "id": "a25c1430b228eb35",
        "type": "link out",
        "z": "e93bbc67912b9178",
        "name": "订阅输出",
        "mode": "link",
        "links": [
            "2ff5101df1ab6584"
        ],
        "x": 965,
        "y": 400,
        "wires": []
    },
    {
        "id": "91bc7c05ad52a442",
        "type": "function",
        "z": "e93bbc67912b9178",
        "name": "时间戳",
        "func": "let date = new Date()\nmsg.payload.hd.tpc = msg.topic;\nmsg.payload.hd.tms=date.valueOf();\nmsg.payload.hd.tm=date.toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 400,
        "wires": [
            [
                "599a05613f21ceb0"
            ]
        ]
    },
    {
        "id": "fccb863e4a408775",
        "type": "json",
        "z": "e93bbc67912b9178",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 400,
        "wires": [
            [
                "91bc7c05ad52a442"
            ]
        ]
    },
    {
        "id": "ef9ae27a95c89e0a",
        "type": "debug",
        "z": "e93bbc67912b9178",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "3fdb98726d73125a",
        "type": "link in",
        "z": "46a5ba0d798d87c3",
        "name": "请求",
        "links": [
            "a56686e93c3108ed",
            "f70a2bb4819417da"
        ],
        "x": 105,
        "y": 120,
        "wires": [
            [
                "dbc6ca860bba37fa"
            ]
        ]
    },
    {
        "id": "dbc6ca860bba37fa",
        "type": "delay",
        "z": "46a5ba0d798d87c3",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 120,
        "wires": [
            [
                "dd8448c09ec803d1"
            ]
        ]
    },
    {
        "id": "dd8448c09ec803d1",
        "type": "function",
        "z": "46a5ba0d798d87c3",
        "name": "登入请求",
        "func": "let data = global.get(\"data\");\nreturn {\n    payload: {\n        hd: {\n            to: {\n                type: \"dsp\",\n                id: data.ids.dsp\n            },\n            entry: {\n                type: \"svc\",\n                id: data.topics.pubs.dsp_svc_login\n            }\n        },\n        pld: {\n            id: data.ids.dsp\n        }\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "808567bfe13fcc45",
                "5002cb933f4b4eb5"
            ]
        ]
    },
    {
        "id": "7ff39a365708d337",
        "type": "change",
        "z": "46a5ba0d798d87c3",
        "name": "登入请求",
        "rules": [
            {
                "t": "set",
                "p": "payload.hd.to.type",
                "pt": "msg",
                "to": "dsp",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.hd.to.id",
                "pt": "msg",
                "to": "nd",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.hd.entry.type",
                "pt": "msg",
                "to": "svc",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.hd.entry.id",
                "pt": "msg",
                "to": "login",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 60,
        "wires": [
            [
                "5002cb933f4b4eb5"
            ]
        ]
    },
    {
        "id": "5002cb933f4b4eb5",
        "type": "link out",
        "z": "46a5ba0d798d87c3",
        "name": "请求",
        "mode": "link",
        "links": [
            "f4460e5db856239e"
        ],
        "x": 935,
        "y": 380,
        "wires": []
    },
    {
        "id": "808567bfe13fcc45",
        "type": "trigger",
        "z": "46a5ba0d798d87c3",
        "name": "超时5秒",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 380,
        "y": 180,
        "wires": [
            [],
            [
                "dbc6ca860bba37fa"
            ]
        ]
    },
    {
        "id": "35f58eaf5d9015fb",
        "type": "change",
        "z": "46a5ba0d798d87c3",
        "name": "重置",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "808567bfe13fcc45"
            ]
        ]
    },
    {
        "id": "ea899d2e95e95576",
        "type": "link in",
        "z": "46a5ba0d798d87c3",
        "name": "重置登入请求",
        "links": [
            "87bda24bd97b90b7"
        ],
        "x": 105,
        "y": 180,
        "wires": [
            [
                "35f58eaf5d9015fb"
            ]
        ]
    },
    {
        "id": "d99eb11998d5f458",
        "type": "comment",
        "z": "46a5ba0d798d87c3",
        "name": "登入",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "e1a4e92e2667f00e",
        "type": "comment",
        "z": "46a5ba0d798d87c3",
        "name": "获取Z2M数据文件",
        "info": "",
        "x": 150,
        "y": 580,
        "wires": []
    },
    {
        "id": "c257b644a9f3904f",
        "type": "function",
        "z": "46a5ba0d798d87c3",
        "name": "请求Z2M数据文件",
        "func": "let data = global.get(\"data\");\nlet topics = data.topics;\nlet pld = msg.payload.pld\n\nlet _msg = {\n    payload: {\n        hd: {\n            to: {\n                type: \"dsp\",\n                id: data.ids.dsp\n            },\n            entry: {\n                type: \"svc\",\n                id: topics.pubs.dsp_svc_get_z2m_datafile\n            }\n        },\n        pld: {\n            id: msg.payload.id || pld && pld.id\n        }\n    }\n}\nreturn _msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 660,
        "wires": [
            [
                "5002cb933f4b4eb5",
                "01a7527df6414170"
            ]
        ]
    },
    {
        "id": "04d3f9487a2fb418",
        "type": "link in",
        "z": "46a5ba0d798d87c3",
        "name": "请求Z2M数据文件",
        "links": [
            "ee014620f54577ec"
        ],
        "x": 95,
        "y": 660,
        "wires": [
            [
                "c257b644a9f3904f"
            ]
        ]
    },
    {
        "id": "89082bd768ce94d2",
        "type": "function",
        "z": "46a5ba0d798d87c3",
        "name": "设置Z2M数据文件",
        "func": "let data = global.get(\"data\");\nlet topics = data.topics;\n\nlet _msg = {\n    payload: {\n        hd: {\n            to: {\n                type: \"dsp\",\n                id: data.ids.dsp\n            },\n            entry: {\n                type: \"svc\",\n                id: topics.pubs.dsp_svc_set_z2m_datafile\n            }\n        },\n        pld: msg.payload\n    }\n}\nreturn _msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 820,
        "wires": [
            [
                "5002cb933f4b4eb5"
            ]
        ]
    },
    {
        "id": "93b0b280ccede552",
        "type": "link in",
        "z": "46a5ba0d798d87c3",
        "name": "设置Z2M数据文件",
        "links": [],
        "x": 95,
        "y": 820,
        "wires": [
            [
                "89082bd768ce94d2"
            ]
        ]
    },
    {
        "id": "16f80bed07a957db",
        "type": "link in",
        "z": "46a5ba0d798d87c3",
        "name": "重置请求Z2M数据",
        "links": [
            "2eac5508a3f5feed"
        ],
        "x": 95,
        "y": 700,
        "wires": [
            [
                "c38ada1c4ce06636"
            ]
        ]
    },
    {
        "id": "f240b4ecdd0b88f3",
        "type": "debug",
        "z": "46a5ba0d798d87c3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 700,
        "wires": []
    },
    {
        "id": "e8c6f9bd3be73a7d",
        "type": "comment",
        "z": "46a5ba0d798d87c3",
        "name": "握手",
        "info": "",
        "x": 110,
        "y": 320,
        "wires": []
    },
    {
        "id": "1873e4c1eab22fec",
        "type": "function",
        "z": "46a5ba0d798d87c3",
        "name": "握手请求",
        "func": "let data = global.get(\"data\");\nlet did = msg.payload.id;\nif (did) {\n    return {\n        payload: {\n            hd: {\n                to: {\n                    type: \"dev\",\n                    id: did\n                },\n                entry: {\n                    type: \"svc\",\n                    id: data.topics.pubs.dev_svc_handshake\n                }\n            },\n            pld: {\n                id: did\n            }\n        }\n    };\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 380,
        "wires": [
            [
                "5002cb933f4b4eb5"
            ]
        ]
    },
    {
        "id": "8b0eacacfd0fe129",
        "type": "link in",
        "z": "46a5ba0d798d87c3",
        "name": "握手请求输入",
        "links": [
            "62b3ca59dea6f8fb"
        ],
        "x": 95,
        "y": 380,
        "wires": [
            [
                "1873e4c1eab22fec"
            ]
        ]
    },
    {
        "id": "5191a783cec57042",
        "type": "trigger",
        "z": "46a5ba0d798d87c3",
        "name": "超时5秒",
        "op1": "1",
        "op2": "",
        "op1type": "str",
        "op2type": "pay",
        "duration": "5",
        "extend": true,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "topic",
        "topic": "topic",
        "outputs": 2,
        "x": 380,
        "y": 700,
        "wires": [
            [],
            [
                "f240b4ecdd0b88f3"
            ]
        ]
    },
    {
        "id": "c38ada1c4ce06636",
        "type": "function",
        "z": "46a5ba0d798d87c3",
        "name": "重置",
        "func": "\nreturn {\n    topic: msg.payload.pld.id,\n    reset: true\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 700,
        "wires": [
            [
                "5191a783cec57042"
            ]
        ]
    },
    {
        "id": "01a7527df6414170",
        "type": "function",
        "z": "46a5ba0d798d87c3",
        "name": "超时数据",
        "func": "\nreturn {\n    topic: msg.payload.pld.id,\n    payload: msg.payload\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 660,
        "wires": [
            [
                "5191a783cec57042"
            ]
        ]
    },
    {
        "id": "2ff5101df1ab6584",
        "type": "link in",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "links": [
            "be8cd487c69c6c5a",
            "a25c1430b228eb35"
        ],
        "x": 75,
        "y": 140,
        "wires": [
            [
                "2960d37440adb67d"
            ]
        ]
    },
    {
        "id": "2960d37440adb67d",
        "type": "switch",
        "z": "f7e96a32e56d72eb",
        "name": "边缘",
        "property": "payload.hd.to.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "edg",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "1faf71b0d9db29dd"
            ]
        ]
    },
    {
        "id": "a91a584b038a1d91",
        "type": "switch",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "property": "payload.hd.entry.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "login",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "handshake",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "get_z2m_datafile",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "dbf743cc72de8237"
            ],
            [
                "25963405174891a1"
            ],
            [
                "1eab2bfb7c865d8c"
            ]
        ]
    },
    {
        "id": "d3b8d4ef2a9d44b5",
        "type": "switch",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "property": "payload.hd.stp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 80,
        "wires": [
            [
                "e52ee3fd0341a37b"
            ],
            [
                "779a1d618441696f"
            ]
        ]
    },
    {
        "id": "1faf71b0d9db29dd",
        "type": "switch",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "property": "payload.hd.entry.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "svc",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "evt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "cc10d1e9f14c0e00"
            ],
            [
                "d73e2680df9b4df8"
            ]
        ]
    },
    {
        "id": "a56686e93c3108ed",
        "type": "link out",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "mode": "link",
        "links": [
            "3fdb98726d73125a"
        ],
        "x": 1025,
        "y": 60,
        "wires": []
    },
    {
        "id": "e52ee3fd0341a37b",
        "type": "change",
        "z": "f7e96a32e56d72eb",
        "name": "请求",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 60,
        "wires": [
            [
                "a56686e93c3108ed"
            ]
        ]
    },
    {
        "id": "779a1d618441696f",
        "type": "change",
        "z": "f7e96a32e56d72eb",
        "name": "响应",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 100,
        "wires": [
            [
                "8bdefa0f693ad406"
            ]
        ]
    },
    {
        "id": "8bdefa0f693ad406",
        "type": "switch",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "property": "payload.pld.edg",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "data.ids.edg",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 100,
        "wires": [
            [
                "de57035b17ce0c4f"
            ],
            [
                "b845798ff172e93d"
            ]
        ]
    },
    {
        "id": "de57035b17ce0c4f",
        "type": "change",
        "z": "f7e96a32e56d72eb",
        "name": "成功",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 80,
        "wires": [
            [
                "87bda24bd97b90b7"
            ]
        ]
    },
    {
        "id": "b845798ff172e93d",
        "type": "change",
        "z": "f7e96a32e56d72eb",
        "name": "失败",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "87bda24bd97b90b7",
        "type": "link out",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "mode": "link",
        "links": [
            "ea899d2e95e95576"
        ],
        "x": 1305,
        "y": 80,
        "wires": []
    },
    {
        "id": "cc10d1e9f14c0e00",
        "type": "change",
        "z": "f7e96a32e56d72eb",
        "name": "服务",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "a91a584b038a1d91"
            ]
        ]
    },
    {
        "id": "d73e2680df9b4df8",
        "type": "change",
        "z": "f7e96a32e56d72eb",
        "name": "事件",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 480,
        "wires": [
            [
                "6db56a0d40368db2"
            ]
        ]
    },
    {
        "id": "6db56a0d40368db2",
        "type": "switch",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "property": "payload.hd.entry.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "heartbeat",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "report",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "67a015670aa5bfcb"
            ],
            [
                "77be8c476ad23117"
            ]
        ]
    },
    {
        "id": "67a015670aa5bfcb",
        "type": "change",
        "z": "f7e96a32e56d72eb",
        "name": "心跳",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "77be8c476ad23117",
        "type": "change",
        "z": "f7e96a32e56d72eb",
        "name": "上报",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "dbf743cc72de8237",
        "type": "change",
        "z": "f7e96a32e56d72eb",
        "name": "登入",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 80,
        "wires": [
            [
                "d3b8d4ef2a9d44b5"
            ]
        ]
    },
    {
        "id": "25963405174891a1",
        "type": "change",
        "z": "f7e96a32e56d72eb",
        "name": "握手",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "b6ae5c1210b8dc15"
            ]
        ]
    },
    {
        "id": "b6ae5c1210b8dc15",
        "type": "switch",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "property": "payload.hd.stp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "c15b8a633e8fdcb5"
            ],
            []
        ]
    },
    {
        "id": "c15b8a633e8fdcb5",
        "type": "change",
        "z": "f7e96a32e56d72eb",
        "name": "请求",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 160,
        "wires": [
            [
                "eddacdb42ea98435"
            ]
        ]
    },
    {
        "id": "7fa2a4320c33a0c6",
        "type": "function",
        "z": "f7e96a32e56d72eb",
        "name": "响应",
        "func": "let hd = msg.payload.hd;\nlet temp = hd.from;\nhd.from = hd.to;\nhd.to = temp;\nhd.stp = 1;\ndelete hd.tm;\ndelete hd.tms;\ndelete hd.tpc;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 220,
        "wires": [
            [
                "cb5a80219ea82576"
            ]
        ]
    },
    {
        "id": "cb5a80219ea82576",
        "type": "link out",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "mode": "link",
        "links": [
            "f4460e5db856239e"
        ],
        "x": 1305,
        "y": 220,
        "wires": []
    },
    {
        "id": "eddacdb42ea98435",
        "type": "function",
        "z": "f7e96a32e56d72eb",
        "name": "订阅/输出",
        "func": "let data = global.get(\"data\")\nlet common = global.get(\"common\")\nlet topics = data.topics;\nlet hd = msg.payload.hd;\n\n\n\nlet topic = common.expandTopic.expand(topics.dysubs.dev_evt_status, hd.from.id);\n\n\nnode.send([\n    {\n        action: \"subscribe\",\n        topic: topic\n    }, \n\n    msg    \n    ])\n\n\n\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 160,
        "wires": [
            [
                "83c403b1c017c665"
            ],
            [
                "7fa2a4320c33a0c6",
                "0c75cd8a739aa826"
            ]
        ]
    },
    {
        "id": "83c403b1c017c665",
        "type": "link out",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "mode": "link",
        "links": [
            "1fbea7baf2a0c450",
            "bafc8918da931db0"
        ],
        "x": 1305,
        "y": 140,
        "wires": []
    },
    {
        "id": "0c75cd8a739aa826",
        "type": "link out",
        "z": "f7e96a32e56d72eb",
        "name": "握手请求输出",
        "mode": "link",
        "links": [
            "aa6930a5c2fc2bf5"
        ],
        "x": 1305,
        "y": 180,
        "wires": []
    },
    {
        "id": "1eab2bfb7c865d8c",
        "type": "change",
        "z": "f7e96a32e56d72eb",
        "name": "获取Z2M文件",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 300,
        "wires": [
            [
                "041e768f187327a8"
            ]
        ]
    },
    {
        "id": "041e768f187327a8",
        "type": "switch",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "property": "payload.hd.stp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 300,
        "wires": [
            [],
            [
                "a9d7a2c2d99965f3"
            ]
        ]
    },
    {
        "id": "3aeed170dad6a201",
        "type": "debug",
        "z": "f7e96a32e56d72eb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "a9d7a2c2d99965f3",
        "type": "function",
        "z": "f7e96a32e56d72eb",
        "name": "响应处理",
        "func": "let data = global.get(\"data\");\nlet hd = msg.payload.hd;\nlet pld = msg.payload.pld;\nlet device = data.devices[pld.id];\nif (pld.datafile) {\n    device.z2m = device.z2m || {};\n    device.z2m.z2m = device.z2m.z2m || {};\n    device.z2m.z2m.datafile = pld.datafile\n}\nmsg.device = device;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 300,
        "wires": [
            [
                "3aeed170dad6a201",
                "d02853ba90eee1de",
                "2eac5508a3f5feed"
            ]
        ]
    },
    {
        "id": "d02853ba90eee1de",
        "type": "link out",
        "z": "f7e96a32e56d72eb",
        "name": "获取Z2M文件输出",
        "mode": "link",
        "links": [
            "513b3d3f8ecdd3f3"
        ],
        "x": 1305,
        "y": 280,
        "wires": []
    },
    {
        "id": "2eac5508a3f5feed",
        "type": "link out",
        "z": "f7e96a32e56d72eb",
        "name": "重置请求Z2M数据",
        "mode": "link",
        "links": [
            "16f80bed07a957db"
        ],
        "x": 1305,
        "y": 320,
        "wires": []
    }
]